
      * {
        box-sizing: border-box;
      }

      html, footer, .footer {
        background-color: #10394d;
      }
      
      body {
        font-family: 'Lato', sans-serif;
        text-align: center;
        background-color: #10394d;
      }

      footer, .footer, #canthis {
        color: #ccc;
      }
      
      h1 {
        color: #ccc;
        font-size: 2em;
        font-weight: 300;
        margin:0 auto;
        /* letter-spacing: 0.1em; */
      }
      
      button.round-btn {
        display: block;
        border-radius: 100%;
        border: none;
        outline: none;
        margin: 28px;
        padding: 20px;        
        box-shadow: 3px 3px 7px #333;
      }
      button:active {
        box-shadow: none;
      }
      
      svg {
        fill: white;
        width: 64px;
        height: 64px;
      }
      
      button.right-side {
        background-color: #03a9f4;
      }

      .remote-buttons section {
        display: inline-block;
      }
      
      .remote-buttons {
        position: relative;
      }
      
      /* .vol-section:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #517e8b;
        width: 4px;
        height: 65%;
        box-shadow: 2px 2px 7px #333;
      } */
      
      .remote {
        display: inline-block;
        padding: 32px 0;
      }
      
      .power {
        background-color: #ff1538;
      }
      
      .source {
        background-color: #ff8f01;
      }

      .volume-slider {
        -webkit-appearance: slider-vertical;
        position: absolute;
        left: 49.5%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #517e8b;
        width: 4px;
        height: 65%;
        box-shadow: 2px 2px 7px #333;
      }

      
          