<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
        <title>GoRemote v0.3.5 by CanThis</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#10394d">
        <meta name="theme-color" content="#10394d">
        <link rel="stylesheet" href="buefy.min.css" />
        <link rel="stylesheet" href="custom.css" />
    </head>
    <body>
        <div id="app" class="remote">
            <div class="remote-buttons">
                <section>
                    <button class="round-btn source left-side" @click="toggleMute">
                        <svg v-if="!isMuted" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M16.5 12c0-1.77-1.02-3.29-2.5-4.03v2.21l2.45 2.45c.03-.2.05-.41.05-.63zm2.5 0c0 .94-.2 1.82-.54 2.64l1.51 1.51C20.63 14.91 21 13.5 21 12c0-4.28-2.99-7.86-7-8.77v2.06c2.89.86 5 3.54 5 6.71zM4.27 3L3 4.27 7.73 9H3v6h4l5 5v-6.73l4.25 4.25c-.67.52-1.42.93-2.25 1.18v2.06c1.38-.31 2.63-.95 3.69-1.81L19.73 21 21 19.73l-9-9L4.27 3zM12 4L9.91 6.09 12 8.18V4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                        <svg v-if="isMuted" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 9v6h4l5 5V4l-5 5H7z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                    </button>

                    <button class="round-btn power left-side" @click="isShutdownModalActive = true">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M13 3h-2v10h2V3zm4.83 2.17l-1.42 1.42C17.99 7.86 19 9.81 19 12c0 3.87-3.13 7-7 7s-7-3.13-7-7c0-2.19 1.01-4.14 2.58-5.42L6.17 5.17C4.23 6.82 3 9.26 3 12c0 4.97 4.03 9 9 9s9-4.03 9-9c0-2.74-1.23-5.18-3.17-6.83z"/></svg>            
                    </button>
                </section>

                <section class="vol-section">
                    <button class="round-btn right-side" @click="increaseVolume(5)" v-longclick="() => increaseVolume(1)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                    </button>

                    <button class="round-btn right-side" @click="decreaseVolume(5)" v-longclick="() => decreaseVolume(1)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18.5 12c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM5 9v6h4l5 5V4L9 9H5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                    </button>
                </section>

                <input
                    class="volume-slider"
                    v-model="volume"
                    @input="isFetchingDone = true"
                    min="0"
                    max="100"
                    step="1"
                    type="range"
                />
            </div>

            <input
                v-if="!isMuted"
                class="transparent-input" 
                id="intLimitTextBox" 
                type="text" 
                :value="volume" 
                @input="() => {}" 
                @change="changeOnOnter" 
                v-on:keyup.enter="changeOnOnter" />
            <h1 v-if="isMuted">Sound is Muted</h1>

            <b-modal :active.sync="isShutdownModalActive" has-modal-card>
                <div class="modal-card animation-content">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Shut Down or Restart PC</p>
                    </header>
                    <section class="modal-card-body">
                        <div class="media">
                            <div class="media-content">
                                <b-field label="Please select either you want to shutdown or restart a PC">
                                    <b-select placeholder="Select an action" expanded size="is-medium" v-model="action">
                                        <option v-for="option in actions" :value="option.value">{{ option.name }}</option>
                                    </b-select>
                                </b-field>
                            </div>
                        </div>
                    </section>
                     
                    <footer class="modal-card-foot">
                        <b-button @click="isShutdownModalActive = false" size="is-medium">Cancel</b-button>
                        <b-button class="is-primary" @click="confirm" size="is-medium">OK</b-button>
                    </footer>
                </div>
            </b-modal>

            <footer class="footer greyed-text">
                <div class="content has-text-centered">
                    <p>
                    Crafted with <span>❤</span> by 
                    <strong class="greyed-text">
                        <a class="greyed-text" href="https://github.com/canthis">CanThis</a>
                    </strong>
                    </p>
                    <p style="font-size: 10px;" class="greyed-text">App Icon made by 
                        <a class="greyed-text" href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from 
                        <a class="greyed-text" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
                        is licensed by 
                        <a class="greyed-text" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                    </p>
                </div>
            </footer>

        </div>
        <script src="vue.js"></script>
        <script src="buefy.min.js"></script>
        <script src="axios.min.js"></script>
        <script src="vue-long-click.min.js"></script>

        <script>
            const longClickInstance = window['vue-long-click'].longClickDirective({delay: 300, interval: 50})
            Vue.directive('longclick', longClickInstance)

            new Vue({
                el: '#app',
                data () {
                    return {
                        volume: 0,
                        isMuted: false,
                        isShutdownModalActive: false,
                        isFetchingDone: false,
                        timeout: 0,
                        action: null,
                        actions: [
                            {
                                "value": "shutdown",
                                "name" : "Shutdown",
                                "dialogTitle": "Shutdown PC",
                                "confirmation" : "Are you sure you want to shutdown your PC?",
                                "successMessage" : "Your PC will shutdown shortly"
                            },
                            {
                                "value": "restart",
                                "name" : "Restart",
                                "dialogTitle": "Restart PC",
                                "confirmation" : "Are you sure you want to restart your PC?",
                                "successMessage" : "Your PC will restart shortly"
                            }
                        ]
                    }
                },
                watch: {
                    volume: function () {
                        if(this.isFetchingDone) {
                            this.setVolume()
                        }
                    },
                },
                created: function() {
                    this.getVolume()
                },
                methods: {
                    changeOnOnter: function(e) {
                        this.isFetchingDone = true
                        let manualVolume = parseInt(e.target.value)
                        manualVolume = ! isNaN(manualVolume) ? manualVolume : 0
                        this.volume = manualVolume
                    },
                    getVolume: function() {
                        const vm = this;
                        axios.get('/api/system/volume/get')
                        .then(function (response) {
                            vm.volume = parseInt(response.data.volume)
                        })
                        .catch(function (error) {
                            console.log(error)
                        });
                    },
                    setVolume: function() {
                        axios.get('/api/system/volume/set/' + parseInt(this.volume))
                    },
                    increaseVolume: function(amount) {
                        this.isFetchingDone = true
                        let vol = parseInt(this.volume)

                        if(vol < 100) {
                            vol = vol + amount
                            if(vol > 100) {
                                vol = 100
                            }
                            this.volume = vol
                        }
                        else {
                            this.volume = 100
                        }
                    },
                    decreaseVolume: function(amount) {
                        this.isFetchingDone = true
                        let vol = parseInt(this.volume)

                        if(vol > 0) {
                            vol = vol - amount
                            if(vol < 0) {
                                vol = 0
                            }
                            this.volume = vol
                        }
                        else {
                            this.volume = 0
                        }
                    },
                    toggleMute: function() {
                        this.isMuted = !this.isMuted

                        if(this.isMuted) {
                            axios.get('/api/system/volume/mute')
                        }
                        else {
                            axios.get('/api/system/volume/unmute')
                        }
                    },
                    confirm: function() {

                        if(this.action == null) {
                            this.$toast.open({
                                duration: 3000,
                                message: 'You should select action to perform first!',
                                position: 'is-bottom',
                                type: 'is-info'
                            })
                            return
                        }

                        let dialogData = {}

                        for (let i=0; i<this.actions.length; i++) {
                            if(this.actions[i].value == this.action) {
                                dialogData = this.actions[i]
                                break
                            }
                        }

                        let self = this

                        this.$dialog.confirm({
                            title: dialogData.dialogTitle,
                            message: dialogData.confirmation,
                            onConfirm: function() {
                                self.isShutdownModalActive = false

                                axios.post('/api/system/shutdown', {
                                    action: self.action
                                })
                                .then(function (response) {
                                    console.log(response);
                                })
                                .catch(function (error) {
                                    console.log(error);
                                })

                                this.$toast.open({
                                    duration: 3000,
                                    message: dialogData.successMessage,
                                    position: 'is-bottom',
                                    type: 'is-success'
                                })
                            }
                        })
                    },
                },
            })            

            // Restricts input for the given textbox to the given inputFilter.
            function setInputFilter(textbox, inputFilter) {
                ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {
                    textbox.addEventListener(event, function() {
                    if (inputFilter(this.value)) {
                        this.oldValue = this.value;
                        this.oldSelectionStart = this.selectionStart;
                        this.oldSelectionEnd = this.selectionEnd;
                    } else if (this.hasOwnProperty("oldValue")) {
                        this.value = this.oldValue;
                        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                    }
                    });
                });
            }

            setInputFilter(document.getElementById("intLimitTextBox"), function(value) {
                return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 100); 
            });
        </script>
    </body>
</html>